<h3>Lista de usuarios</h3>
<button 
    type="button" 
    class="btn btn-primary me-1 justify-content-center" 
    title="Seleccionar usuario" 
    routerLink="/users/user-add">Nuevo usuario</button>
<br>
<br>
<table class="table table-striped table-dark">
	<thead>
		<tr>
			<th scope="col">Nombre completo</th>
            <th scope="col">Edad</th>
			<th scope="col">Ocupación</th>
            <th scope="col">-</th>
		</tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.age}}</td>
            <td>{{user.occupation}}</td>
            <td>
                <button type="button"
                        class="btn btn-info me-1 justify-content-center" 
                        title="Seleccionar usuario"
                        (click)="editUser(user)">Editar
                </button>
                <button type="button"
                        class="btn btn-danger me-1 justify-content-center" 
                        title="Seleccionar usuario"
                        (click)="deleteUser(user)">Eliminar
                </button>
            </td>
        </tr>
    </tbody>
</table>